.button {
    -fx-background-color:
            linear-gradient(#f0ff35, #f0ff35),
            radial-gradient(center 50% -40%, radius 200%, #f0ff35 45%, #f0ff35 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.button:hover {
    -fx-background-color:
            linear-gradient(#12ff00, #12ff00),
            radial-gradient(center 50% -40%, radius 200%, #12ff00 45%, #12ff00 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}